<% include partials/header %>
<section>
    <div id="section1" class="container-fluid" id="one">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <h1>CityX</h1>
                    <p>Buy and Sell your property hassle free!</p> 
                </div>
            </div>
        </div>
        <div id="section2" class="container-fluid">
              <div class="row">
                  <div class="col-lg-4 col-sm-4 col-md-4">
                      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.wallhere.com%2Fphoto%2Fface-field-Person-man-skarf-adventurer-johannes-strate-776717.jpg&f=1&nofb=1" class="img-circle" alt="Cinque Terre" width="230" height="230">
                  </div>
                  <div class="col-lg-8 col-sm-8 col-md-8">
                      <h4>I think CityX is doing a wonderful job. I am happy to have a property advertised on CityX. All my queries were resolved with the support of the customer service team who are very cooperative and helpful.</h4>
                      <h5 style="font-family: 'Anton', sans-serif;
                                 font-family: 'Lobster', cursive;">-Raj Tapase</h5>
                  </div>
              </div>
        </div>
    <div id="section3" class="container-fluid">
      
    </div>
    <div id="section41" class="container-fluid">
      <div class="row">
          <div class="col-lg-6 col-sm-6 col-md-6">
              <h1>HAPPY  CUSTOMERS</h1>
              <p>
                I acknowledge the excellent services/responses provided by CityX.
                I appreciate the quick response and also honor 99acres commitment when I extended the contract
                  <br>
                !LIZ H.SAN FRANCISCO
              </p>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
              <h1>WHY  CityX?</h1>
              <p>
              Customers use CityX for a quiet, luxurious, and private apartment where they can live peacefully enjoying every aspect of life to have memories and to live life to its fullest!.
              </p>
          </div>
      </div>
      <div class="row" style="padding-top:200px;">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <h1>EXPERTS</h1>
              <p>
                "A godsend—I've waited years to be able to take a quick shower on the go. Spend half an hour relaxing and get your whole self back. It's magical."
                <br>
                -RYAN GEORGEDATA ANALYST, LYFT
              </p>
          </div>
          <div  class="col-lg-6 col-md-6 col-sm-6">
              <h1>
                  SELLERS
              </h1>
              <p>
                  "Very happy with the initiative taken ahead by CityX"
                  <br>
                  -RAMESH SHETTY, Residency DIVINE OWNER
              </p>
          </div>
      </div>
    
    </div>
    <div id="section42" class="container-fluid">
      <div class="row">
          <div class="col-lg-6 col-sm-6 col-md-6">
              <h1>GET IN TOUCH</h1>
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                      <p>CityX  - B. U. Bhandari Landmarks
                        Survey No. 111,Mumbai 400086
                      </p>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-md-6">
                      <p>Tel : 1234567890
                         <br>    0987654321
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.3271958668724!2d73.75156501436992!3d18.604347371463515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b97c7e32a97f%3A0xe52cb58c176958a1!2sVaastu%20Viva%20-%20B.%20U.%20Bhandari%20Landmarks!5e0!3m2!1sen!2sin!4v1582551824418!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div>
      </div>
    </div>
    </section>
            
            <section>
                <div class="container">
                   <footer>
                        <div>
                            <p>© 2020 by CityX. All rights reserved.</p>
                        </div>
                   </footer>
                </div>
            </section>
    </body>


<% include partials/footer %>